@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* 3ac8b2, 0d6a62 - logo color OLD - 1C3E38*/
:root {
    --main-bg-color: #0d6a62;
    --main-bg-color-tp: rgba(28, 62, 56, 0.8);
    --secondary-bg-color: #F2AC0E;
    --secondary-bg-color-tp: rgba(255, 197, 62, 0.8);
    --text-white: #fff;
    --font-family: 'Raleway', sans-serif;
    --font-size-heading: 2.5rem;
    --font-size-paragraph: 1.25rem;
    --font-weight-heading: 800;
}

.three-line-text {
    white-space: normal; /* Allow line breaks but respect word boundaries */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis (...) for truncation */
    display: -webkit-box;  /* Enable line-clamp for Webkit browsers */
    -webkit-line-clamp: 3;  /* Set the desired number of lines (3 in this case) */
    -webkit-box-orient: vertical; /* Display text vertically */
}

body {
    background-color: #F2F2EA !important;
}

a{
    font-family: 'Lexend', sans-serif !important;
    font-weight: 300 !important;
    font-size: 17px !important;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 20px !important;
    font-weight: 400 !important;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--secondary-bg-color-tp); /* Set a background color */
    color: #000; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 13px 16px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-weight: bold;
  }
  
  #myBtn:hover {
    background-color:var(--main-bg-color-tp); /* Add a dark-grey background on hover */
    color: var(--text-white);
  }

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    /* border: none !important; */
    box-shadow: none !important;
}

.filled-img{
    object-fit: cover !important;
    height: 100% !important;
}

.text-justify{
    text-align: justify !important; 
}

.py-5-mwcv{
    padding: 100px 0 !important;
}

/* Buttons Start */
.btn{
    border-radius: 6px !important;
    padding: 12px 19px !important;
}

.donate-btn-gr.btn-success{
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
    border-radius: 6px !important;
}

.donate-btn-gr.btn-success:hover{
    background-color: transparent !important;
    color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}

.btn.donate-btn-gr-sm.btn-success{
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
    border-radius: 6px !important;
    padding: 9px 18px !important;
}

.donate-btn-gr-sm.btn-success:hover{
    background-color: transparent !important;
    color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}

.donate-btn-gr-r.btn-success{
    background-color: transparent !important;
    color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}

.donate-btn-gr-r.btn-success:hover{
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
    color: var(--text-white) !important;
}

.donate-btn-yl.btn-success{
    background-color: var(--secondary-bg-color) !important;
    border-color: var(--secondary-bg-color) !important;
}

.donate-btn-yl.btn-success:hover{
    background-color: transparent !important;
    color: var(--secondary-bg-color) !important;
    border-color: var(--secondary-bg-color) !important;
}

.donate-btn-yl-r.btn-success{
    background-color: transparent !important;
    color: var(--secondary-bg-color) !important;
    border-color: var(--secondary-bg-color) !important;
    border-radius: 50px !important;
}

.donate-btn-yl-r.btn-success:hover{
    background-color: var(--secondary-bg-color) !important;
    border-color: var(--secondary-bg-color) !important;
    color: var(--text-white) !important;
}

/* Buttons End */


nav.bg-body-tertiary {
    background-color: transparent !important;
}

nav.navbar.mwcv-navbar {
    border-bottom: 1px solid #D6D6D6;
}

.mw-top-nav {
    background-color: var(--main-bg-color);
    height: 40px;
}

.hero-section h1 {
    font-family: 'Raleway', sans-serif;
    /* Set the font for the heading to Raleway */
    font-size: 70px;
    /* Adjust the font size as needed */
    font-weight: 800;
    color: var(--main-bg-color);
}

.hero-section p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    /* Adjust the font size as needed */
    color: #7F7F7F;
}

/* Update Section */

.updates-section .bg-primary{
    background-color: var(--main-bg-color) !important;
    padding: 50px 35px !important;
}

.updates-section p{
    color: var(--text-white);
    font-size: 18px;
}

.radiant-section h2, .emp-section h2, .home-vision h2, #mission-statement h2 {
    font-family: 'Raleway', sans-serif;
    /* Set the font for the heading to Raleway */
    font-size: 48px;
    /* Adjust the font size as needed */
    font-weight: 700;
    color: var(--main-bg-color);
}

.empower-section{
    background-color: #EBE6E0 !important;
    padding: 90px 0;
}

.hm-vision{
    background-color: #ffffff !important;
    padding: 90px 0;
}

ul.mis-statment-list{
    font-size: 18px !important;
    font-family: 'Playfair Display', serif;
}

#our-programs .card-body h5, #initiatives .card-body h5, #get-invlolved .card-body h5{
    font-family: 'Playfair Display', serif;
    /* Set the font for the heading to Raleway */
    font-size: 20px !important;
    /* Adjust the font size as needed */
    font-weight: 700 !important;
    color: var(--main-bg-color) !important;
}

#our-programs p.card-text, #initiatives p.card-text, #get-invlolved p.card-text{
    font-family: 'Montserrat', sans-serif;
    /* Set the font for the heading to Raleway */
    font-size: 17px !important;
    /* Adjust the font size as needed */
    font-weight: 300 !important;
    color: #000 !important;
}

#our-programs .card-body hr.border{
    border-color: #7F7F7F !important;
    width: 20%;
}

#our-programs h2 {
    font-family: 'Raleway', sans-serif;
    /* Set the font for the heading to Raleway */
    font-size: 48px;
    /* Adjust the font size as needed */
    font-weight: 700;
    color: var(--main-bg-color);
}

#our-programs{
    background-color: #ffffff !important;
    padding: 90px 0;
}

#initiatives .card{
    border: none !important;
    background-color: transparent !important;
}

#initiatives h2, #get-invlolved h2 {
    font-family: 'Raleway', sans-serif;
    /* Set the font for the heading to Raleway */
    font-size: 48px;
    /* Adjust the font size as needed */
    font-weight: 700;
    color: var(--main-bg-color);
}

.donate-section{
    /* background-color: #EBE6E0 !important; */
    padding: 145px 0;
}

.donate-section h2 {
    font-family: 'Raleway', sans-serif;
    /* Set the font for the heading to Raleway */
    font-size: 48px;
    /* Adjust the font size as needed */
    font-weight: 700;
}

.card-gr{
    background-color: transparent !important;
}

.card-yl{
    background-color: var(--text-white) !important;
}

.card-bl{
    background-color: transparent !important;
}

.icon-fs-1{
    font-size: 50px !important;
}

.container-fluid.footer{
    background-color: #fff !important;
}

footer h5{
    font-family: 'Lexend', sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    margin-bottom: 15px !important;
}

footer p#about, footer a.nav-link{
    color: #696969 !important;
    font-size: 15px !important;
    text-align: justify;
}


.bottom-footer-l {
    background-color: var(--main-bg-color) !important;
    color: #fff !important;
}

.bottom-footer-l p{
    font-family: 'Lexend', sans-serif !important;
    font-size: 13px !important;
}

.bottom-footer-l i{
    color: #fff !important;
}


/* ------------------------------------ */
/* ABOUT PAGE */
/* ------------------------------------ */
.breadcrumb-section{
    background: var(--main-bg-color);
    color: var(--text-white);
}

.breadcrumb-section h3{
    background: var(--main-bg-color);
}


.our-vision{
    /* background-color: #EBE6E0 !important; */
    padding: 72px 0;
}

.our-vision h2 {
    font-family: 'Raleway', sans-serif;
    /* Set the font for the heading to Raleway */
    font-size: 48px;
    /* Adjust the font size as needed */
    font-weight: 700;
}

#overview-intro h3, #acknowledgement h3, #mission h3, #objective h3, #past-activities h3, #future-activities h3, #contact-us h3{
    font-family: 'Raleway', sans-serif;
    /* Set the font for the heading to Raleway */
    font-size: 32px;
    /* Adjust the font size as needed */
    font-weight: 700;
    color: var(--main-bg-color);
}

#overview-intro h3, #acknowledgement h4, #mission h3, #contact-us h4{
    font-family: 'Raleway', sans-serif;
    /* Set the font for the heading to Raleway */
    /* Adjust the font size as needed */
    font-weight: 700;
    color: var(--main-bg-color);
}

.dropdown-menu li a.dropdown-item:active{
    background: var(--main-bg-color);
}

#objective ul li, #past-activities ul li, #future-activities ul li{
    font-family: 'Lexend';
    margin-bottom: 16px;
}

#contact-us h4{
    margin-top: 28px !important;
}

section#contact-us ul{
    list-style: none;
    padding-inline-start: 0;
}

section#contact-us ul > *{
    margin-bottom: 12px;
    font-family: 'Lexend';
}



/* ------------------------------------ */
/* Responsiveness */
/* ------------------------------------ */

@media (max-width: 576px) {
    .navbar-brand img{
        width: 58px !important;
    }

    .hero-section h1{
        font-size: 32px !important;
        text-align: center;
    }

    .radiant-section h2, #our-programs h2, #initiatives h2, #get-invlolved h2, .emp-section h2, .home-vision h2, #mission-statement h2{
        font-size: 28px !important;
        text-align: center;
    }

    .hero-section p, p, #our-programs p{
        font-size: 16px !important;
        text-align: center;
    }

    .radiant-section, .emp-section, .card-body, .home-vision{
        text-align: center !important;
    }

    .emp-section, .emp-section-img{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
 
    .empower-section img{
        margin-top: 16px !important;

    }

    .rad-section img{
     margin-bottom: 45px !important;   
    }

    .mw-top-nav {
        height: auto;
    }

    .mw-top-nav .container{
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .mw-top-nav .container .row{
        row-gap: 15px;
    }

    .mw-top-nav .container .nav-social, .mw-top-nav .container .nav-contact{
        justify-content: center !important;
    }

    section p{
        text-align: justify;
    }

    section .card p{
        text-align: center;
    }

    section h3{
        font-size: 28px !important;
        text-align: center;
    }    

    .our-vision p, .donate-section p, section#initiatives p{
        font-size: 20px !important;
        text-align: center;
    }

    .empower-section, #our-programs{
        padding: 45px 0;
    }

    .btn{
        border-radius: 6px !important;
        padding: 9px 16px !important;
    }

    .updates-section .bg-primary{
        background-color: var(--main-bg-color) !important;
        padding: 23px 25px !important;
    }
    
    .updates-section p{
        color: var(--text-white);
        font-size: 18px;
    }

    .donate-section h2{
        font-size: 43px;
    }

    .donate-section{
        /* background-color: #EBE6E0 !important; */
        padding: 80px 0;
    }

    ul.mis-statment-list > li{
        font-size: 16px !important;
    }
    
    

  }